/* Переменные */

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-greyblue: #293449;
    --basic-darkblue: #32425c;
    --basic-beige: #F7F3EC;
    --basic-lightbackground: #A9A9A9;
    --basic-darkbackground: #161D29;
    --basic-text-footer: #F3F7F9;
    --basic-border-button: #EAEAEA;
    --basic-title-background: #F9F5F0;

    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFC047;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --mistake: #BA2732;
    --gradient-greylight: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

/* Подключение шрифтов */

@font-face {
    font-family: 'Cuprum'; 
    src: url('../fonts/cuprum.woff2') format('woff2'), 
         url('../fonts/cuprum.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'Cuprum'; 
    src: url('../fonts/cuprumbold.woff2') format('woff2'), 
         url('../fonts/cuprumbold.woff') format('woff'); 
    font-weight: bold; 
    font-style: normal; 
}

@font-face {
    font-family: 'Cuprum'; 
    src: url('../fonts/cuprumitalic.woff2') format('woff2'), 
         url('../fonts/cuprumitalic.woff') format('woff'); 
    font-weight: normal; 
    font-style: italic; 
}

@font-face {
    font-family: 'PT Sans'; 
    src: url('../fonts/ptsans.woff2') format('woff2'), 
         url('../fonts/ptsans.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'PT Sans'; 
    src: url('../fonts/ptsansbold.woff2') format('woff2'), 
         url('../fonts/ptsansbold.woff') format('woff'); 
    font-weight: bold; 
    font-style: normal; 
}

/* Основная часть */

body {
    min-width: 960px;
    margin: 0; 
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Общие элементы */

.logo-main {
    background-color: var(--basic-red);
    width: 220px;
    text-align: center;
    height: 42px;
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo-main:active {
    background-color: var(--mistake);
}

.button {
    background-color: var(--basic-white);
    color: var(--basic-black);

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button-red {
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.button-red:active {
    background-color: var(--mistake);
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caption-second {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0;
    margin-bottom: 25px;
}

.visually-hidden {
    display: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/* Грид */

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

/* Обертка сайта */

.main-header {
    background-color: var(--basic-background);
    min-height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header .wrapper {
    margin-bottom: 41px;
}

.wrapper {
    min-width: 100%;
    min-height: 42px; 

    color: var(--basic-white);
    background-color: var(--basic-greyblue);
}

.wrapper .container {
    display: flex;
    justify-content: space-between;
}

.wrapper a {
    color: var(--basic-white);
}

.top-navigation .button {
    width: 150px;
    background-color: var(--basic-greyblue);
    box-sizing: border-box;
}

.search {
    background-color: var(--basic-greyblue);
    border-style: none;
    color: var(--basic-white);

    flex-grow: 1;
    padding-left: 42px;
}

.search:focus {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border-style: none;
}

.search::placeholder {
    color: var(--basic-white);
}

.top-navigation .basket-full {
    background-color: var(--basic-red);
}

.top-navigation .bookmarks:active,
.top-navigation .basket-empty:active,
.top-navigation .basket-full:active,
.top-navigation .button-order:active
 {
    background-color: var(--basic-darkbackground);
    color: rgba(255, 255, 255, 0.5);
}

.top-navigation .button-order {
    background-color: var(--basic-green);
}

.top-navigation .button-order:hover,
.top-navigation .button-order:focus {
    background-color: var(--success);
}

/* Главная навигация */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.header-title {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    width: 197px;
} 

.telephone {
    color: var(--basic-red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;

    border-width: 3px;
    border-style: solid ;
    border-color: var(--basic-white);
}

.contacts-title address {
    font-size: 14px;
    color: var(--basic-darkblue);
}

.user-navigation .button {
    font-size: 21px;
    line-height: 21px;
}

.button-login:hover,
.button-login:focus {
    color: var(--basic-red);
}

.button-login:active {
    color: var(--basic-greylight);
}

.main-navigation .site-navigation {
    background-color: var(--basic-darkblue);
    height: 60px;
    margin-bottom: 60px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-navigation a {
    background-color: var(--basic-darkblue);
    color: var(--basic-white);    
}

.main-navigation a:hover,
.main-navigation a:focus {
    background-color: var(--basic-greyblue);
}

.main-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
}

.personal-account {
    list-style: none;
}
.personal-account a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-darkblue);    
}

.personal:hover,
.personal:focus {
    color: var(--basic-black);
}

.personal:active {
    color: var(--basic-greylight);
}

.personal-account a:hover,
.personal-account a:focus {
    color: var(--basic-red);
}

.personal-account a:active {
    color: var(--basic-greylight);
}

/* Предложения на главной */

.offers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 123px 123px 123px;
    align-content: start;
    grid-gap: 20px;
    margin-top: 59px;
}

.category {
    background-color: var(--special-yellow);
    color: var(--basic-white);
    padding-top: 20px;
    padding-left: 23px;
    box-sizing: border-box;
}

.category h3 {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.category:nth-child(2) {
    background-color: var(--special-blue);
}

.category:nth-child(3) {
    background-color: var(--special-lilac);
}

.category:nth-child(5) {
    background-color: var(--special-greenlight);
    grid-column: 3;
    grid-row: 2;
}

.category:nth-child(6) {
    background-color: var(--special-yellowlight);
    grid-column: 3;
    grid-row: 3;
}

.button-offer {
    color: var(--basic-white);
    background-color:  rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.button-offer:hover,
.button-offer:focus {
    background-color: var(--basic-greylight);
}

.button-offer:active {
    background-color: var(--basic-lightbackground);
}

.sliders {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;  
}

.slide {
    width: 100%;
    height: 100%;
    padding-top: 23px;
    padding-left: 24px;
    box-sizing: border-box;
}

.slide:nth-child(1) {
    background-image: url(../img/perforators.jpg);
}

.slide-title {
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
}

.sliders p {
    color: var(--basic-white);
    margin: 0;
}

/* Cтраницы каталога */

.main-catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 59px 89px 38px 1fr 38px;
    align-content: start;
    grid-column-gap: 20px;
}

.page-title {
    color: var(--basic-darkblue);
    background-color: var(--basic-background);

    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    padding-left: 29px;

    display: flex;
    align-items: center;
}

.page-catalog .page-title {
    grid-column: 1 / -1;
}

/* Хлебные крошки */

.page-catalog .breadcrumbs {
    grid-column: 1 / -1;
    margin-bottom: 20px;
}

.breadcrumbs {
    list-style: none;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;  
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.breadcrumbs a {
    color: var(--basic-black);
}

/* Фильтр и сортировка */

.filter {
    grid-row: 3 / -1;
    width: 220px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.filter h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase; 
    font-weight: normal;
    background-color: var(--basic-beige);
    min-height: 38px;
    padding-left: 18px;
    margin: 0;
    display: flex;
    align-items: center;
}

.price-block {
    background-color: var(--basic-beige);
}

.filter input[type=text] {
    background-color: var(--basic-beige);
    font-size: 17px;
    line-height: 18px;
    font-family: 'PT Sans', Arial, sans-serif;

    border: none;
    width: 95px;
    height: 38px;
    text-transform: uppercase;
    text-align: center;
}

.filter ul {
    padding: 0;
    margin: 0;
}

.filter-name {
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;  
    text-transform: uppercase;  
    font-weight: bold;

    height: 55px;
    display: flex;
    align-items: center;
}

.filter-price {
    display: flex;
    justify-content: space-between;
}

.filter-option {
    list-style: none;
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;  
    text-transform: uppercase; 
    margin-bottom: 20px;
}

.button-filter {
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 13px;
    line-height: 18px;

    border-width: 1px;
    border-color: var(--basic-border-button);
    border-style: solid;
}

/* Сортировка */

.sort {
    background-color: var(--basic-beige);
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 13px;
    line-height: 18px;
    min-height: 38px;

    display: flex;
    align-items: center;
}

.sort h3 {
    font-size: 13px;
    font-weight: normal;
    padding-left: 19px;
}

.sort-goods {
    display: flex;
    align-items: center;
}

.sort-goods li {
    list-style: none;
    padding-left: 70px;
}

.sort-goods a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom-width: 1px;
    border-bottom-color: var(--basic-red);
    border-bottom-style: dotted;
}

.sort-goods a:hover,
.sort-goods a:focus {
    color: rgba(0, 0, 0);
    border-bottom-width: 1px;
    border-bottom-color: var(--basic-red);
    border-bottom-style: solid;
}

.sort-goods a:active {
    color: var(--basic-red);
    border-bottom: none;
}

.sort-goods .active-sort {
    color: var(--basic-red);
    border-bottom: none;
}

/* Каталог*/

.catalog-first {
    margin-top: 28px;
}

.catalog-first .catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
    list-style: none;
}

.catalog-item {
    background-color: var(--basic-white);
    width: 220px;
    min-height: 318px;
    margin-right: 20px;
    margin-bottom: 18px;

    border-width: 1px;
    border-color: var(--basic-border-button);
    border-style: solid;
    box-sizing: border-box;
}

.catalog-first .catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item-img {
    min-height: 169px;
    display: flex;
    justify-content: center;
}

.catalog-item-img img {
    align-self:center;
}

.catalog-item-title {
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    text-align: center;
    width: 185px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
}

.catalog-old-price {
    color: var(--basic-greylight);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
    text-align: center;
    margin: 0;
}

.catalog-price {
    color: var(--basic-white);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    background-color: var(--basic-red);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 141px;
    height: 38px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: 40px;
}

/* Блок о сервисах*/

.services {
    background-color: var(--basic-background);
    margin-bottom: 70px;
}

.services h2 {
    padding-top: 64px;
}

.services p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

.service-toggle li {
    list-style: none;
    background-color: var(--basic-darkblue);
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.service-toggle input[type=radio] {
    display: none;
}

input[checked] + label {
    background-color: var(--basic-white);
    color: var(--basic-darkblue);
}

.service-toggle li:hover,
.service-toggle li:focus {
    background-color: var(--basic-greyblue);
}

.services h4 {
    font-size: 36px;
    text-transform: uppercase;
    color: var(--basic-darkblue);
}

/* Блок о компании */
.index-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.index-columns p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

.index-columns p:first-of-type {
    margin-bottom: 32px;
}

.company-column {
    width: 450px;
}

.company-name {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.company-name li {
    list-style: none;
    margin-bottom: 12px;
}

.company-name li:last-child {
    margin-bottom: 0;
}

.map-column {
    width: 300px;
}

.map-column p {
    width: 180px;
}

.map-picture {
    width: 300px;
    height: 158px;
    margin: 0;
    margin-bottom: 20px;
}

/* Рекламные блоки на главной */

.section-title {
    background-color: var(--basic-title-background);
    margin-top: 59px;
    min-height: 89px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title h2 {
    color: var(--basic-darkblue);
    padding-left: 28px;
    margin: 0;
}

.section-title .button {
    margin-right: 9px;
}

.catalog-special .catalog-list {
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    list-style: none;
    margin-top: 20px;
}

.firms-logo {
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 145px 145px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

/* Пагинация */

.pagination li {
    list-style: none;
}

.page a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.page .active-page {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Дополнительная информация */

.addition {
    background-color: var(--basic-background);
    padding-bottom: 67px;
}

.addition h2 {
    padding-top: 64px;
    padding-bottom: 25px;
    margin: 0;
}

.addition p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    margin: 0;
}

/* Футер */

.main-footer {
    background-color: var(--basic-darkblue);
    color: var(--basic-text-footer);   

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-up {
    display: grid;
    grid-template-columns: 380px 560px;
    grid-template-rows: 96px 96px;
}

.footer-up .logo-main {
    height: 63px;
    grid-column-start: 1;
    grid-column-end: 1;
}

.footer-contacts {
    grid-row-start: 2;
    grid-row-end: 2;
}

.address-footer {
    font-style: normal;
}

.telephone-footer {
    color: var(--basic-white);
}


.first-navigation {
    padding-top: 32px;
}

.first-navigation a {
    color: var(--basic-white);
} 

.second-navigation {
    padding-left: 23px;
} 

a.highlighting {
    color: var(--special-yellowlight);
}

.first-navigation a:hover,
.first-navigation a:focus,
.second-navigation a:hover,
.second-navigation a:focus {
    text-decoration: underline;
}

.first-navigation a:active,
.second-navigation a:active {
    opacity: 0.5;
}

.footer-down {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
}

.footer-down .container {
    min-height: 107px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-down a,
.footer-down p {
    margin: 0;
    padding: 0;
}

.socials {
    list-style: none;
}

.feedback a:hover,
.feedback a:focus {
    text-decoration: underline;
}

.feedback a:active {
    color: var(--basic-red);
    text-decoration: none;
}
/* Модальные окна */

.modal {
    display: none;
}
