/* Переменные */

:root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --basic-greylight: #C5C5C5;
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-greyblue: #293449;
    --basic-darkblue: #32425c;
    --basic-beige: #F7F3EC;
    --basic-lightbackground: #A9A9A9;
    --basic-darkbackground: #161D29;

    --special-yellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFC047;

    --success: #5FBB2D;
    --warning: #FFBF47;
    --mistake: #BA2732;
    --gradient-greylight: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

/* Основная часть */

body {
    min-width: 960px;
    margin: 0; 
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Общие элементы */

.logo {
    background-color: var(--basic-red);
}

.logo:active {
    background-color: var(--mistake);
}

.button {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.button-red {
    text-transform: uppercase;
    background-color: var(--basic-red);
    color: var(--basic-white);
}

.button-red:active {
    background-color: var(--mistake);
}

.site-navigation {
    list-style: none;
}

.caption-2 {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.visually-hidden {
    display: none;
}

.page-title {
    background-color: var(--basic-background);
}

/* Обертка сайта */

.main-header {
    background-color: var(--basic-background);
}

.main-wrapper {
    color: var(--basic-white);
    background-color: var(--basic-greyblue);
}

.main-wrapper a {
    color: var(--basic-white);
}

.search {
    background-color: var(--basic-greyblue);
    border-style: none;
}

.search:focus {
    background-color: var(--basic-white);
    border-style: none;
}

.search::placeholder {
    color: var(--basic-white);
}

.search::placeholder:focus,
.search::placeholder:active {
    color: var(--basic-black);
}

.basket-full {
    background-color: var(--basic-red);
}

.bookmarks:active,
.basket-empty:active,
.basket-full:active,
.button-order:active
 {
    background-color: var(--basic-darkbackground);
    color: rgba(255, 255, 255, 0.5);
}

.button-order {
    background-color: var(--basic-green);
}

.button-order:hover,
.button-order:focus {
    background-color: var(--success);
}

/* Главная навигация */

.header-title {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
} 

.telephone {
    color: var(--basic-red);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.contacts-title address {
    font-size: 14px;
    color: var(--basic-darkblue);
}

.user-navigation .button {
    font-size: 21px;
    line-height: 21px;
}

.button-login:hover,
.button-login:focus {
    color: var(--basic-red);
}

.button-login:active {
    color: var(--basic-greylight);
}

.main-navigation a {
    background-color: var(--basic-darkblue);
    color: var(--basic-white);
}

.main-navigation a:hover,
.main-navigation a:focus {
    background-color: var(--basic-greyblue);
}

.main-navigation a:active {
    color: rgba(255, 255, 255, 0.5);
}

.personal-account {
    list-style: none;
}
.personal-account a {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-darkblue);
}

.personal:hover,
.personal:focus {
    color: var(--basic-black);
}

.personal:active {
    color: var(--basic-greylight);
}

.personal-account a:hover,
.personal-account a:focus {
    color: var(--basic-red);
}

.personal-account a:active {
    color: var(--basic-greylight);
}

/* Предложения на главной */

.category {
    background-color: var(--special-yellow);
}

.category h3 {
    color: var(--basic-white);
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

.category:nth-child(2) {
    background-color: var(--special-blue);
}

.category:nth-child(3) {
    background-color: var(--special-lilac);
}

.category:nth-child(5) {
    background-color: var(--special-greenlight);
}

.category:nth-child(6) {
    background-color: var(--special-yellowlight);
}

.category {
    color: var(--basic-white);
}

.button-offer {
    color: var(--basic-white);
    background-color:  rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.button-offer:hover,
.button-offer:focus {
    background-color: var(--basic-greylight);
}

.button-offer:active {
    background-color: var(--basic-lightbackground);
}

.slide-title {
    color: var(--basic-white);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.sliders p {
    color: var(--basic-white);
}

/* Хлебные крошки */

.breadcrumbs {
    list-style: none;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;  
    text-transform: uppercase;
}

.breadcrumbs a {
    color: var(--basic-black);
}

/* Фильтр и сортировка */

.filter h3 {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase; 
    font-weight: normal;
    background-color: var(--basic-beige);
}

.price-block {
    background-color: var(--basic-beige);
}

.filter input[type=text] {
    background-color: var(--basic-beige);
    font-size: 17px;
    line-height: 18px;
    font-family: 'PT Sans', Arial, sans-serif;
}

.filter-name {
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;  
    text-transform: uppercase;  
}

.filter-option {
    list-style: none;
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 19px;  
    text-transform: uppercase; 
}

.button-filter {
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 13px;
    line-height: 18px;
}

/* Сортировка */

.sort {
    background-color: var(--basic-beige);
    font-family: 'PT Sans', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: 13px;
    line-height: 18px;
}

.sort h3 {
    font-weight: normal;
}

.sort-goods li {
    list-style: none;
}

.sort-goods a {
    color: rgba(0, 0, 0, 0.3);
}

.sort-goods a:hover,
.sort-goods a:focus {
    color: rgba(0, 0, 0);
}

.sort-goods a:active {
    color: var(--basic-red);
}

.sort-goods .active-sort {
    color: var(--basic-red);
}

/* Каталог*/

.catalog-list {
    list-style: none;
}

.catalog-item {
    background-color: var(--basic-white);
}

.catalog-item-title {
    color: var(--basic-black);
    font-family: 'PT Sans', Arial, sans-serif;
    line-height: 20px;
    font-weight: bold;
}

.catalog-old-price {
    color: var(--basic-greylight);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: line-through;
}

.catalog-price {
    color: var(--basic-white);
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    background-color: var(--basic-red);
}

/* Блок о сервисах*/

.services {
    background-color: var(--basic-background);
}

.services p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
}

.service-toggle li {
    list-style: none;
    background-color: var(--basic-darkblue);
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
}

.service-toggle input[type=radio] {
    display: none;
}

input[checked] + label {
    background-color: var(--basic-white);
    color: var(--basic-darkblue);
}

.service-toggle li:hover,
.service-toggle li:focus {
    background-color: var(--basic-greyblue);
}

.services h4 {
    font-size: 36px;
    text-transform: uppercase;
    color: var(--basic-darkblue);
}

/* Блок о компании */

.index-columns p {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
}

.company-name li {
    list-style: none;
}

/* Список производителей */

.firms-logo {
    list-style: none;
}

/* Пагинация */

.pagination li {
    list-style: none;
}

.page a {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.page .active-page {
    color: var(--basic-white);
    background-color: var(--basic-red);
}

/* Футер */

.main-footer {
    background-color: var(--basic-darkblue);
    color: var(--basic-white);
}

.address-footer {
    font-style: normal;
}

.telephone-footer {
    color: var(--basic-white);
}

.first-navigation a {
    color: var(--basic-white);
} 

a.highlighting {
    color: var(--special-yellowlight);
}

.first-navigation a:hover,
.first-navigation a:focus,
.second-navigation a:hover,
.second-navigation a:focus {
    text-decoration: underline;
}

.first-navigation a:active,
.second-navigation a:active {
    opacity: 0.5;
}

.footer-down {
    font-size: 16px;
    line-height: 18px;
}

.feedback a:hover,
.feedback a:focus {
    text-decoration: underline;
}

.feedback a:active {
    color: var(--basic-red);
    text-decoration: none;
}
/* Модальные окна */

.modal {
    display: none;
}